"ASAquickXXX/ASAq.wei/ASAquick.gl1.wei"
"ASAquickXXX/ASAq.wei/ASAquick.gl2.wei"
"ASAquickXXX/ASAq.wei/ASAquick.gl3.wei"
"ASAquickXXX/ASAq.wei/ASAquick.gl4.wei"
"ASAquickXXX/ASAq.wei/ASAquick.gl5.wei"
